// base
$line-height               : 1.4 !default;
$font-color                : #444 !default;

$link-color                : #00E !default;
$link-hover-color          : #06E !default;
$link-visited-color        : #551A8B !default;

$selected-font-color       : #FFF !default;
$selected-background-color : #ff5E99 !default;

$invalid-background-color  : #F0DDDD !default;

//colors
$default                   : #444;
$black                     : #000;
$white                     : #FFF;
$dark                      : #343434;
$light                     : #dedede;
$grey                      : #808080;

$max-width                 : 1024px !default;

$default-spacing           : 15px !default;


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Hide only visually,
// but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
 }

// Extends the .visuallyhidden class
// to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
 }